*{
    transition:250ms all;
}

.options{
    grid-template-columns: repeat(2, auto);
}
.options span{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(228, 203, 203, 0.2);
    width: auto;
    height: auto;
    min-width: 120px;
    min-height: 30px;
    padding: 8px;
}
::selection{
    background-color:#b00dc98e;
}

.next{
    cursor: pointer;
}
.hide{
    display: none !important;
}
.correct{
    background: #64E987 !important;
}
.wrong{
    background: #e96464 !important;
}
#question{
background-image:url("bg.jpg") !important;
}
